body {
    background: black;
    overflow: hidden;

}
.photos {
    margin: 50px auto;
    width: 65vw;
    position: relative;
    transition: opacity;
}
.photos .slider{
    width: 100%;
    box-shadow: 5px 5px 155px 35px #777;
    border-radius: 15px;
    /*transition : background-image 500ms;*/
}
.prev, .next{
    height: 100%;
    width: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.next {
    right: 0;
    top: 0;
}
.prev:hover, .next:hover {
    background: rgba(233, 233, 233, 0);
}
.nav-icon {
    width: 60%;
    opacity: .1;
    /*transition: 2s;*/
    /*opacity: 0;*/
}
.nav-icon:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px){
    .photos {
        width: 100vh;
        margin: 10% auto;
    }
}
